    <nav class="navbar navbar-expand-lg fs-4 fw-2 bg-secondary">

        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link text-white me-2">Home</a>
            <a href="/blogs" class="nav-item nav-link text-white me-2">Blogs</a>
            <a href="/blogs/new-blog" class="nav-item nav-link text-white me-2">create</a>
        </div>

    </nav>
