<%- include("../partials/head.ejs")%>
<%- include("../partials/nav.ejs")%>
<!DOCTYPE html>
<html>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center mt-5">
            <img src="https://t3.ftcdn.net/jpg/09/76/56/50/360_F_976565019_3nymIATUIMUpJL7ayiXLPpU4U1GLaEsp.jpg" style="width: 88%; height:500px">

        </div>
        <div class="row d-flex justify-content-center my-3">
            <div class="col-3 bg-secondary text-center  mx-5 pt-2 pb-2 rounded">Create</div>
            <div class="col-3 bg-secondary text-center mx-5 pt-2 pb-2 rounded">Collect</div>
            <div class="col-3 bg-secondary text-center mx-5 pt-2 pb-2 rounded ">Save</div>
        </div>
        
        <div class="row d-flex mx-5">
            <div class="col-12 justify-content-start mx-4"> 
                <h6 class="fs-5">
                    Keep track of your memories and thoughts.
                </h6>
            </div>
        </div>
        
    </div>
    <%- include("../partials/footer.ejs") %>

</html>

